{{#className}}
.{{className}} {{{#width}}
    width: {{width}};{{/width}}{{#heigth}}
    heigth: {{height}};{{/height}}{{#opacity}}
    opacity: {{opacity}};{{/opacity}}{{#backgroundColor}}
    backgroundColor: {{backgroundColor}};{{/backgroundColor}}{{#borderColor}}
    borderColor: {{borderColor}}
}
{{#className}}