

{{#className}}
.{{className}}{ {{#width}}
    width: {{width}};{{/width}} {{#height}}
    height: {{height}};{{/height}} {{#opacity}}
    opacity: {{opacity}};{{/opacity}} {{#backgroundColor}}
    background-color: {{backgroundColor}};{{/backgroundColor}} {{#borderColor}}
    border-color: {{borderColor}}; {{/borderColor}} {{#borderWidth}}
    border-width: {{borderWidth}};{{/borderWidth}}
}
{{/className}}
