<Frame {{#widthRequest}}WidthRequest="{{widthRequest}}"{{/widthRequest}}{{#heightRequest}} HeightRequest="{{heightRequest}}"{{/heightRequest}}{{#hasShadow}} HasShadow="{{hasShadow}}"{{/hasShadow}}{{#backgroundColor}} BackgroundColor="{{backgroundColor}}"{{/backgroundColor}}{{#cornerRadius}} CornerRadius="{{cornerRadius}}"{{/cornerRadius}}{{#outlineColor}} OutlineColor="{{outlineColor}}"{{/outlineColor}}>
</Frame>
