<Label {{#text}}Text="{{text}}"{{/text}}{{#style}} Style="{StaticResource {{style}}}"{{/style}}{{#fontFamily}} FontFamily="{{fontFamily}}"{{/fontFamily}}{{#fontSize}} FontSize="{{fontSize}}"{{/fontSize}}{{#fontAttributes}} FontAttributes="{{fontAttributes}}"{{/fontAttributes}}{{#textColor}} TextColor="{{textColor}}"{{/textColor}}{{#horizontalTextAlignment}} HorizontalTextAlignment="{{horizontalTextAlignment}}"{{/horizontalTextAlignment}} />