
<StackLayout{{#widthRequest}} WidthRequest="{{widthRequest}}"{{/widthRequest}}{{#heightRequest}} HeightRequest="{{heightRequest}}"{{/heightRequest}}{{#backgroundColor}} BackgroundColor="{{backgroundColor}}"{{/backgroundColor}}>
</StackLayout>
