{{#styles}}
<Style x:Key="{{key}}"
       TargetType="Label">
    {{#fontFamily}}
    <Setter Property="FontFamily"
            Value="{{fontFamily}}" />
    {{/fontFamily}}
    {{#fontSize}}
    <Setter Property="FontSize"
            Value="{{fontSize}}" />
    {{/fontSize}}
    {{#fontWeight}}
    <Setter Property="FontWeight"
            Value="{{fontWeight}}" />
    {{/fontWeight}}
    {{#textColor}}
    <Setter Property="TextColor"
            Value="{{TextColor}}" />
    {{/textColor}}
    {{#textAlignment}}
    <Setter Property="HorizontalTextAlignment"
            Value="{{textAlignment}}" />
    {{/textAlignment}}
        {{#lineBreakMode}}
    <Setter Property="LineBreakMode"
            Value="{{lineBreakMode}}" />
    {{/lineBreakMode}}
</Style>

{{/styles}}
